/* Estilos Generales */
:default {
  --color-primario: #ffbb00;      /* naranja eléctrico (color principal) */
  --fondo-oscuro: #1A1A1A;        /* Fondo oscuro */
  --texto-blanco: #FFFFFF;        /* Texto principal */
}
.body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--fondo-oscuro);
  color: var(--texto-blanco);
}
.header {
  padding: 30px;
  background-color: #000000;
  border-bottom: 2px solid var(--color-primario);
}
.navegacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
}