.titulo {
  color: rgb(250, 183, 58);
  font-family:  'Poppins', monospace, serif;
  font-size: 100px;
  height: 180px;
  width: 65%;
}
/* Estilos del encabezado */
.BarraHeader {
  display: flex;/*alinea los elementos horizontalemnte*/
  justify-content: space-between;/*Distribuye los elementos: el logo a la izquierda, los enlaces al centro y el icono de usuario a la derecha.*/
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 16px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 300px;
  border-bottom: 21px solid var
}
.logo1 {
  height: 220px;
  width: 1px;
}
.subpaginas{
  height: 200px;
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
}
.texto{
  height: 500px;
  color: rgb(218, 34, 34);
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
}

#id1 {
  color: red;
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
}
#id2 {
  color: blue;
  font-family:'comic sans';
}